body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #F5F5F5;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
   
  body::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  
  .sidebar::-webkit-scrollbar {
    width: 0em;
    background-color: hwb(0 99% 1% / 0);
  }
   
  .sidebar::-webkit-scrollbar-thumb {
    background-color: hwb(0 99% 1% / 0);
  }
   
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: hwb(0 99% 1% / 0);
  }


  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination-btn.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  

